<footer class="footer" data-background-color="black">
  <div class="container">
    <div class="copyright float-right">
      &copy; {{year}}, made with <i class="material-icons">favorite</i> by
      <a href="#" target="_blank">Christodoulos Pappas</a>.
    </div>
  </div>
</footer>
