<div class="section section-tabs">
    <div class="container">
        <div *ngIf="!hasPublicApi" class="row">
            <div class="col-md-6">
                <h3>Get api credentials</h3>
                <button (click)="sendClickEvent()" class="btn btn-info">Get credentials</button>
            </div>
        </div>
        <div *ngIf="hasPublicApi" class="row">
            <div class="col-md-6">
                <h5>Public api app</h5>
                <p>{{app}}</p>
            </div>
            <div class="col-md-6">
                <h5>Your api token</h5>
                <p>{{token}}</p>
            </div>
            <hr>

            <div class="col-md-12">
                <h5>Use Public api at <span class="badge badge-pill badge-success">api.theqbi.com</span></h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Api Call</th>
                                <th>Data type</th>
                                <th>Description</th>
                                <th>Headers</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>api/public/v1/sites/</td>
                                <td>JSON</td>
                                <td>The all the sites assigned to your user</td>
                                <td class="text-muted">'x-api-key':{{token}}</td>
                            </tr>
                            <tr>
                                <td>api/public/v1/sites/location/:lat/:lng</td>
                                <td>JSON</td>
                                <td>Get near by sites (The default accuracy is 100km)</td>
                                <td class="text-muted">'x-api-key':{{token}}</td>
                            </tr>
                            <tr>
                                <td>api/public/v1/sites/location/:lat/:lng/:accuracy</td>
                                <td>JSON</td>
                                <td>Get sites near location with an accuracy</td>
                                <td class="text-muted">'x-api-key':{{token}}</td>
                            </tr>
                            <tr>
                                <td>api/public/v1/sites/:id</td>
                                <td>JSON</td>
                                <td>Get one site with an id</td>
                                <td class="text-muted">'x-api-key':{{token}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>