<nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg navbar-transparent" color-on-scroll="100"
  id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="#">
        <img class="logo" src="assets/img/qbi_logo_red_96.png" /> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a *ngIf="!userIsLoggedIn" (click)="openLoginPage()" class="btn btn-primary btn-raised btn-round" data-toggle="dropdown">
            Create account. It's free
          </a>

          <a *ngIf="userIsLoggedIn" (click)="openAdminPanel()" class="btn btn-primary btn-raised btn-round" >
            Admin Panel
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
