<div class="alert" [ngClass]="className">
    <div class="container">
      <div class="alert-icon">
        <i class="material-icons">{{iconName}}</i>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="material-icons">clear</i></span>
      </button>
      {{message}}
    </div>
  </div>