<app-qbi-navbar></app-qbi-navbar>
<main-image src="assets/img/main-img.jpg" title="Admin Panel" description="" height="15">
</main-image>
<div class="main main-raised">
    <div class="section section-basic">
        <div class="container">
            <h3 *ngIf="userIsLoggedIn">Welcome, ({{userInfo.email}})</h3>
            <p *ngIf="userIsLoggedIn">User Type: ({{userInfo.type}})</p>
            <hr>
            <button (click)="didTouchAddSite()" class="btn btn-primary">Add site <i class="material-icons">add</i></button>
            <div class="row">
                <div class="col-md-4" *ngFor="let site of userSites; index as i;">
                    <site-card 
                    [image]="site.images[0].fullPath" 
                    [title]="site.credential" 
                    [content]="site.sections[0].content"
                    [id]="site.id"></site-card>
                </div>
            </div>
        </div>
    </div>
    <app-api [hasPublicApi]="hasPublicApi" [token]="publicApiCredentials.publicKey" [app]="publicApiCredentials.app" (didTouchGetPubicApiCredentials)="didTouchGetPubicApiCredentials()"></app-api>
    <div class="section section-basic">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <button (click)="didTouchLogout()" class="btn btn-danger">Log out <i class="material-icons">logout</i></button>
                </div>
                <div class="col-md-4">
                    <button *ngIf="!userHasGoogleLogin" (click)="addAuthenticationWithGoogle()" class="btn btn-default">Add google login to your accout <i class="fa fa-google"></i></button>
                    <button *ngIf="userHasGoogleLogin" class="btn btn-default">Your account has google login <i class="fa fa-google"></i></button>
                </div>
                <div class="col-md-4">
                    <button *ngIf="!userHasFacebookLogin" (click)="addAuthenticationWithFacebook()" class="btn btn-info-fb">Add facebook login to your accout <i class="fa fa-facebook-square"></i></button>
                    <button *ngIf="userHasFacebookLogin" class="btn btn-info-fb">Your account has facebook login <i class="fa fa-facebook-square"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-com></footer-com>