<div class="team-player">
    <div class="card card-plain">
        <div class="background-card-image" [ngStyle]="{'background-image': 'url(' + image + ')'}">
        </div>
        <h4 class="card-title">{{title}}</h4>
        <div class="card-body">
            <p class="card-description">{{content}}
            </p>
        </div>
        <div class="card-footer justify-content-center">
            <button (click)="visitSite()" class="btn btn-block">View<div class="ripple-container"></div></button>
        </div>
    </div>
</div>