<qbi-notification *ngIf="showNotification" [type]="notificationType" [message]="notificationMessage" ></qbi-notification>
<div class="section section-signup page-header" style="background-image: url('./assets/img/profile_city.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div *ngIf="!userWillSignUp" class="card card-login">
            <form class="form" method="" action="">
              <div class="card-header card-header-grey text-center">
                <h4 class="card-title">Login with social media</h4>
                <div class="social-line">
                  <button (click)="signInWithFB()" class="btn btn-just-icon btn-link">
                    <i class="fa fa-facebook-square"></i>
                  </button>
                  <button (click)="signInWithGoogle()" class="btn btn-just-icon btn-link">
                    <i class="fa fa-google"></i>
                  </button>
                </div>
              </div>
              <p class="description text-center">Or Be Classical</p>
              <div class="card-body">
                <span class="bmd-form-group"><div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                  <input type="email" class="form-control" #email placeholder="Email...">
                </div></span>
                <span class="bmd-form-group"><div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" class="form-control" #password placeholder="Password...">
                </div></span>
              </div>
              <div class="footer text-center">
                <a (click)="performLogin(email.value, password.value)" class="btn btn-primary btn-link btn-wd btn-lg">Login</a>
              </div>
              <div class="footer text-center">
                <a (click)="toogleLoginSignUpPage()" class="btn btn-default btn-link btn-wd btn-lg">Show Sign up page</a>
              </div>
            </form>
          </div>

          <div *ngIf="userWillSignUp" class="card card-login">
            <form class="form" method="" action="">
              <div class="card-header card-header-grey text-center">
                <h4 class="card-title">Sign up with social media</h4>
                <div class="social-line">
                  <button (click)="signInWithFB()" class="btn btn-just-icon btn-link">
                    <i class="fa fa-facebook-square"></i>
                  </button>
                  <button (click)="signInWithGoogle()" class="btn btn-just-icon btn-link">
                    <i class="fa fa-google"></i>
                  </button>
                </div>
              </div>
              <p class="description text-center">Or Be Classical</p>
              <div class="card-body">
                <span class="bmd-form-group"><div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                  <input type="email" class="form-control" #email placeholder="Email...">
                </div></span>
                <span class="bmd-form-group"><div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" class="form-control" #password placeholder="Password...">
                </div></span>
                <span class="bmd-form-group"><div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" class="form-control" #rpassword placeholder="Repeat password">
                </div></span>
              </div>
              <div class="footer text-center">
                <a (click)="performSignUp(email.value, password.value, rpassword.value)" class="btn btn-primary btn-link btn-wd btn-lg">Sign Up</a>
              </div>

              <div class="footer text-center">
                <a (click)="toogleLoginSignUpPage()" class="btn btn-default btn-link btn-wd btn-lg">Show Login page</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer-com></footer-com>