<app-qbi-navbar></app-qbi-navbar>
<main-image src="assets/img/main-img.jpg" title="This is Q.B.I."
  description="Create your own mini website for an old building or site (Qr Building Information)"></main-image>
<div class="main main-raised">
    <div class="container">
      <div class="section section-text">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h3 class="title">Q.B.I</h3>
            <p>Q.B.I. (Qr Building Information) is a free website where anyone can add information about a building or a site.
              Help users easily find historical or current information about a building or a site.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4" *ngFor="let site of nearestSites; index as i;">
            <site-card 
            [image]="site.images[0].fullPath" 
            [title]="site.credential" 
            [content]="site.sections[0].content"
            [id]="site.id"></site-card>
        </div>
    </div>



      <div class="section section-contacts">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center title">Have a request?</h2>
            <h4 class="text-center description">Write to us and we will answer as soon as possible</h4>
            <form class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Your Name</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Your Email</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
              </div>
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                  <button class="btn btn-primary btn-raised">
                    Send Message
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
<!--  End Modal -->
<footer-com></footer-com>
