<qbi-notification *ngIf="showNotification" [type]="notificationType" [message]="notificationMessage" ></qbi-notification>
<app-qbi-navbar></app-qbi-navbar>
<main-image src="assets/img/main-img.jpg" title="Add new site" description="" height="15">
</main-image>
<div class="main main-raised">
    <div class="section">
        <div class="container">
            <div id="nav-tabs">
                <h3>Create new site</h3>
                <h3><small>Follow the steps to create a new site</small></h3>
                <div class="card card-nav-tabs card-plain">
                    <div class="card-header card-header-grey">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#titlenlocation" data-toggle="tab">Title and
                                            location</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#infosections" data-toggle="tab">Info Sections</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#images" data-toggle="tab">Images</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#contactinfo" data-toggle="tab">Contact Info</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="tab-content">
                            <div class="tab-pane active" id="titlenlocation">
                                <span class="bmd-form-group">
                                    <h4>Site Title</h4>
                                    <div class="input-group">
                                        <input [(ngModel)]="siteModel.credential" name="credential" type="text"
                                            class="form-control" placeholder="Write the title here...">
                                    </div>
                                </span>
                                <h4 *ngIf="userIsLoggedIn">Set Site Coordinates on map</h4>
                                <hr>
                                <qbi-map *ngIf="userCoordinates != null" zoom="5" [latitude]="userCoordinates.latitude" [longitude]="userCoordinates.longitude"
                                    (clickedCoordinatesEvent)="receivedNewCoordinates($event)" allow-click></qbi-map>
                                <button *ngIf="!siteModel.id" (click)="didTouchInitSite()"
                                    class="btn btn-primary text-center">Next</button>
                            </div>
                            <div class="tab-pane" id="infosections">
                                <div class="row">
                                    <div *ngFor="let section of sections; index as i;"
                                        class="card section-tabs">
                                        <div class="row card-body container">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="section-title">Section Title</label>
                                                    <input type="text" [(ngModel)]="sections[i].title"
                                                        class="form-control" id="section-title">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Select Language of
                                                        section</label>
                                                    <select class="form-control selectpicker"
                                                        [(ngModel)]="sections[i].language" data-style="btn btn-link"
                                                        id="exampleFormControlSelect1">
                                                        <option>en</option>
                                                        <option>gr</option>
                                                        <option>ge</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label [for]="i">Section Content</label>
                                                    <textarea [(ngModel)]="sections[i].content" class="form-control"
                                                        [id]="i" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button (click)="didTouchAddSection()" class="btn btn-primary">Add Section <i
                                            class="material-icons">add</i></button>
                                </div>
                            </div>
                            <div class="tab-pane" id="images">
                                <div class="section">
                                    <div class="container">
                                        <div class="row">
                                            <input type="file" accept="image/x-png,image/jpeg" name="photo" ng2FileSelect
                                                [uploader]="siteViewModel.fileUploaderService.getUploader()" />
                                            <div class="row">
                                                <div *ngFor="let image of images; index as i;"
                                                    class="col-md-4">
                                                    <img [src]="image.fullPath" alt="Raised Image"
                                                        class="img-raised rounded img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="contactinfo">
                                <div *ngFor="let contact of contactInfo; index as i;"
                                    class="card section-tabs">
                                    <div class="row card-body">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="section-title">Contact</label>
                                                <input type="text" [(ngModel)]="contactInfo[i].contact"
                                                    class="form-control" id="section-title">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">Select Contact Info Type</label>
                                                <select class="form-control selectpicker"
                                                    [(ngModel)]="contactInfo[i].type" data-style="btn btn-link"
                                                    id="exampleFormControlSelect1">
                                                    <option value="email">email</option>
                                                    <option value="phone">phone</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button (click)="didTouchAddContactInfo()" class="btn btn-primary">Add Contact
                                    Information <i class="material-icons">add</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button *ngIf="siteModel.id" (click)="didTouchUpdateSite()"
            class="btn btn-primary">Update site {{siteModel.credential}}</button>
        </div>
    </div>
</div>
<!--  End Modal -->
<footer-com></footer-com>