<qbi-notification *ngIf="showNotification" [type]="notificationType" [message]="notificationMessage" ></qbi-notification>
<app-qbi-navbar></app-qbi-navbar>
<main-image *ngIf="site" [src]="site.images[0].fullPath" [title]="site.credential" description="">
</main-image>
<div *ngIf="site" class="main main-raised">
    <div class="section section-basic section-text">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
            
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="sel1">Language:</label>
                        <select [(ngModel)]="selectedLng" class="form-control" id="sel1">
                            <option *ngFor="let lng of availableLng">{{lng}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div *ngFor="let section of site.sections; index as i;">
                <div *ngIf="selectedLng == section.getLanguage()">
                    <h2>{{section.title}}</h2>
                    <p>{{section.content}}</p>
                </div>
            </div>
            <div class="card card-raised card-carousel">
                <div id="carouselindicators" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <ol class="carousel-indicators">
                        <li *ngFor="let image of site.images; index as i;"
                            data-target="#carouselindicators" [attr.data-slide-to]="i" [ngClass]="{'active': i == 0}">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div *ngFor="let image of site.images;index as i;" class="carousel-item"
                            [ngClass]="{'active': i == 0}">
                            <img class="d-block w-100" [src]="image.fullPath">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselindicators" role="button" data-slide="prev">
                        <i class="material-icons">keyboard_arrow_left</i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselindicators" role="button" data-slide="next">
                        <i class="material-icons">keyboard_arrow_right</i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <hr>
            <h3>Location</h3>
            <qbi-map [latitude]="site.coordinates.latitude" [longitude]="site.coordinates.longitude"></qbi-map>
            <hr>
            <h3>Contact info</h3>
            <div class="row">
                <div *ngFor="let contact of site.contactInfo" class="col-md-6">
                    <h4><i class="vertical-align-bottom material-icons">{{contact.type}}</i> {{contact.contact}}</h4>
                </div>
            </div>
            <hr>
            <button class="btn btn-danger" data-toggle="modal" data-target="#issueReportModal">
                <i class="material-icons">warning</i>
                Report an issue
              </button>
        </div>

    </div>
</div>

<footer-com></footer-com>
<button *ngIf="isMySite" (click)="didTouchEditSite()" class="btn btn-warning fixed-btn">Edit <i
        class="material-icons">edit</i></button>
<button *ngIf="isMySite" class="btn btn-info fixed-btn-2" data-toggle="modal" data-target="#qrCodeModal">
    <i class="material-icons">code</i>
    Qr-Code
  </button>
    <div class="modal fade" id="qrCodeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Qr-Code for this site</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="material-icons">clear</i>
              </button>
            </div>
            <div class="modal-body">
                <qrcode class="qrcode" id="qrcodesvg" [qrdata]="urlForQr" [width]="256" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-link" (click)="didTouchGetQrCode()">Download</button>
              <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="issueReportModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Report an issue</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="material-icons">clear</i>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="section-title">Your report title</label>
                            <input type="text" [(ngModel)]="issueReportModel.title"
                                class="form-control" id="section-title">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="section-title">Your report type</label>
                            <select [(ngModel)]="issueReportModel.type" class="form-control">
                                <option>Wrong info</option>
                                <option>This is my location</option>
                                <option>Violence</option>
                                <option>Harassment</option>
                                <option>Unauthorised info</option>
                                <option>Hate speech</option>
                                <option>Nudity</option>
                                <option>Other</option>
                            </select>
                            <p *ngIf="issueReportModel.type == 'Other'" class="text-danger">Please provide us with more info in your message</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="section-title-email">Your email</label>
                            <input type="text" [(ngModel)]="issueReportModel.reporterEmail"
                                class="form-control" id="section-title-email">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="section-title-message">Your report message</label>
                            <input type="text" [(ngModel)]="issueReportModel.message"
                                class="form-control" id="section-title-message">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-link" (click)="didTouchReportAnIssue()">Report</button>
              <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
