.fixed-btn
{
    position: fixed;
    right: 5rem;
    top: 5rem;
    z-index: 999;
}

.fixed-btn-2
{
    position: fixed;
    right: 5rem;
    top: 8rem;
    z-index: 999;
}

.qrcode
{
    text-align: center;
}