<div class="page-header header-filter clear-filter grey-filter" data-parallax="true" [ngStyle]="{
  'background-image': 'linear-gradient(rgba(189,195,199,0.5), rgba(44,62,80,0.5)),url(' + src + ')',
  'height': height + 'rem'}">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand">
          <h1>{{title}}</h1>
          <h3>{{description}}</h3>
          <button *ngIf="showButton" class="btn btn-rose">Search for buildings <i class="material-icons">search</i></button>
        </div>
      </div>
    </div>
  </div> 
</div>
